<div>

  <div class="table table-wrapper table-striped table-hover">
    <!--Table-->
    <table class="mb-0">

      <!--Table head-->
      <thead>
      <tr>
        <th>
          <mdb-checkbox></mdb-checkbox>
        </th>
        <th class="th-lg my-color-blue">
          <a (click)="sortBy('viewName')">Name
          </a>
        </th>
        <th class="th-lg my-color-blue">
          <a (click)="sortBy('name')">Original Name
          </a>
        </th>
        <th class="th-lg my-color-blue">
          <a (click)="sortBy('color')">Color
          </a>
        </th>
        <th class="th-lg my-color-blue">
          <a (click)="sortBy('env')">Environment
          </a>
        </th>
        <th class="th-lg my-color-blue">
          <a (click)="sortBy('folderName')">Folder
          </a>
        </th>
      </tr>
      </thead>
      <!--Table head-->

      <!--Table body-->
      <tbody>
      <tr *ngFor="let row of tableData;let i = index">
        <th scope="row">
          <mdb-checkbox></mdb-checkbox>
        </th>
        <td class="my-color-blue">
          {{row.viewName}}
        </td>
        <td class="my-color-blue">{{row.name}}</td>
        <td class="my-color-blue">{{row.color}}</td>
        <td class="my-color-blue">{{row.env}}</td>
        <td class="my-color-blue">{{row.folderName}}</td>
      </tr>
      </tbody>
      <!--Table body-->
    </table>
    <!--Table-->
  </div>


</div>
