<div [@routerTransition]>
  <div class="card mb-3">
    <div class="row">
      <div class="col col-xl-8 col-lg-8">
        <button class="btn btn-info" [routerLink]="['/jobs']" [routerLinkActive]="['router-link-active']">
          <i class="fa fa-fw fa-folder"></i>
          root
        </button>
        <button class="btn btn-info" *ngIf="pathFolder1"
                [routerLink]="['/jobs', pathFolder1]"
                [routerLinkActive]="['router-link-active']">
            <i class="fa fa-fw fa-folder"></i>
            {{ pathFolder1 }}
        </button>
        <button class="btn btn-info" *ngIf="pathFolder2"
                [routerLink]="['/jobs', pathFolder1, pathFolder2]"
                [routerLinkActive]="['router-link-active']">
          <i class="fa fa-fw fa-folder"></i>
          {{ pathFolder2 }}
        </button>
        <button class="btn btn-info" *ngIf="pathFolder3"
                [routerLink]="['/jobs', pathFolder1, pathFolder2, pathFolder3]"
                [routerLinkActive]="['router-link-active']">
          <i class="fa fa-fw fa-folder"></i>
          {{ pathFolder3 }}
        </button>
      </div>
      <div class="col col-xl-2 col-lg-2">
         <button class="btn btn-info" (click)="scanJobsRecursive()">
           <i class="fa fa-fw fa-refresh"></i> Full Scan Jobs
         </button>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="current_folder && current_folder.sub_folders && current_folder.sub_folders.length">
    <div class="col col-xl-12 col-lg-12">
      <div class="breadcrumb">

        <span *ngIf="!pathFolder1 && !pathFolder2 && !pathFolder3">
          <button class="btn btn-info" *ngFor="let sub_folder of current_folder.sub_folders"
                  [routerLink]="['/jobs', sub_folder]"
                  [routerLinkActive]="['router-link-active']">
            <i class="fa fa-fw fa-folder"></i>
            {{ sub_folder }}
          </button>
        </span>

        <span *ngIf="pathFolder1 && !pathFolder2 && !pathFolder3">
          <button class="btn btn-info" *ngFor="let sub_folder of current_folder.sub_folders"
                  [routerLink]="['/jobs', pathFolder1, sub_folder]"
                  [routerLinkActive]="['router-link-active']">
            <i class="fa fa-fw fa-folder"></i>
            {{ sub_folder }}
          </button>
        </span>

        <span *ngIf="pathFolder2 && !pathFolder3">
          <button class="btn btn-info" *ngFor="let sub_folder of current_folder.sub_folders"
                  [routerLink]="['/jobs', pathFolder1, pathFolder2, sub_folder]"
                  [routerLinkActive]="['router-link-active']">
            <i class="fa fa-fw fa-folder"></i>
            {{ sub_folder }}
          </button>
        </span>

        <span *ngIf="pathFolder3">
          <button class="btn btn-info" *ngFor="let sub_folder of current_folder.sub_folders"
                  [routerLink]="['/jobs', pathFolder1, pathFolder2, pathFolder3, sub_folder]"
                  [routerLinkActive]="['router-link-active']">
            <i class="fa fa-fw fa-folder"></i>
            {{ sub_folder }}
          </button>
        </span>
      </div>

    </div>
  </div>

  <div class="row" *ngIf="current_folder.jobs.length">
    <div class="col col-xl-12 col-lg-12">
      <div class="card mb-3">
        <div *ngIf="current_folder.jobs" class="card-body table-responsive">
          <table class="table table-hover table-striped">
            <thead>
            <tr>
              <th class="th-lg my-color-blue">
                <a (click)="sortBy('name')">Original Name</a>
              </th>
              <th class="th-lg my-color-blue">
                <a (click)="sortBy('color')">Status</a>
              </th>
              <th class="th-lg my-color-blue">
                <a (click)="sortBy('env')">Env</a>
              </th>
              <th class="th-lg my-color-blue">
                <a (click)="sortBy('viewName')">Name</a>
              </th>
              <th class="th-lg my-color-blue">
                <a (click)="sortBy('folderName')">Folder</a>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let row of current_folder.jobs;let i = index">
              <td> <span [ngbPopover]="row.description" [popoverTitle]="row.name">{{row.name}}</span></td>
              <td><i [ngStyle]="{'color': row.color === 'blue' ? 'green' :
                                          row.color === 'red' ? 'red' :
                                          row.color === 'grey' ? 'grey' :
                                          row.color === 'notbuilt' ? 'white' :
                                          'yellow'}"
                     class="fa fa-fw fa-ambulance"></i></td>
              <td>{{row.env}}</td>
              <td>{{row.viewName}}</td>
              <td>{{row.folderName}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
