/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

@media print {
    .breadcrumb {
        display: none !important;
    }
}

.card {
  background-color: #121527 !important;
}

.card-header {
  background-color: #121527 !important;
}

.breadcrumb {
  background-color: #27255b !important;
}

