<div [@routerTransition]>

  <div class="card mb-3">
    <!--    <div class="card-header"></div>-->
    <div class="card-body">
      <div class="row">
        <div class="col col-10">
          <button class="btn btn-info" [routerLink]="['/metrics']" [routerLinkActive]="['router-link-active']">
            <i class="fa fa-fw fa-folder"></i>
            root
          </button>
          <button class="btn btn-info" *ngIf="pathLevel1"
                  [routerLink]="['/metrics', pathLevel1]"
                  [routerLinkActive]="['router-link-active']">
            <i class="fa fa-fw fa-folder"></i>
            {{ pathLevel1 }}
          </button>
          <button class="btn btn-info" *ngIf="pathLevel2"
                  [routerLink]="['/metrics', pathLevel1, pathLevel2]"
                  [routerLinkActive]="['router-link-active']">
            <i class="fa fa-fw fa-folder"></i>
            {{ pathLevel2 }}
          </button>
          <button class="btn btn-info" *ngIf="pathLevel3"
                  [routerLink]="['/metrics', pathLevel1, pathLevel2, pathLevel3]"
                  [routerLinkActive]="['router-link-active']">
            <i class="fa fa-fw fa-folder"></i>
            {{ pathLevel3 }}
          </button>
        </div>

        <div class="col col-2">
          <button type="button" class="btn btn-primary" (click)="refreshFolder(pathFullLevels)">Refresh</button>
        </div>

      </div>
      <div class="row" *ngIf="subFolders.length">
        <div class="col col-12">
          <div class="breadcrumb">

          <span *ngIf="!pathLevel1 && !pathLevel2 && !pathLevel3">
            <button class="btn btn-info" *ngFor="let sub_folder of subFolders"
                    [routerLink]="['/metrics', sub_folder]"
                    [routerLinkActive]="['router-link-active']">
              <i class="fa fa-fw fa-folder"></i>
              {{ sub_folder }}
            </button>
          </span>

            <span *ngIf="pathLevel1 && !pathLevel2 && !pathLevel3">
            <button class="btn btn-info" *ngFor="let sub_folder of subFolders"
                    [routerLink]="['/metrics', pathLevel1, sub_folder]"
                    [routerLinkActive]="['router-link-active']">
              <i class="fa fa-fw fa-folder"></i>
              {{ sub_folder }}
            </button>
          </span>

            <span *ngIf="pathLevel2 && !pathLevel3">
            <button class="btn btn-info" *ngFor="let sub_folder of subFolders"
                    [routerLink]="['/metrics', pathLevel1, pathLevel2, sub_folder]"
                    [routerLinkActive]="['router-link-active']">
              <i class="fa fa-fw fa-folder"></i>
              {{ sub_folder }}
            </button>
          </span>

            <span *ngIf="pathLevel3">
            <button class="btn btn-info" *ngFor="let sub_folder of subFolders"
                    [routerLink]="['/metrics', pathLevel1, pathLevel2, pathLevel3, sub_folder]"
                    [routerLinkActive]="['router-link-active']">
              <i class="fa fa-fw fa-folder"></i>
              {{ sub_folder }}
            </button>
          </span>
          </div>

        </div>
      </div>
      <div class="row">
        <table class="table table-striped">

          <!-- envs in header -->
          <thead>
          <tr>
            <th style="width: 20%">Job Name</th>
            <th *ngFor="let env of envs">{{env}}</th>
          </tr>
          </thead>

          <!-- jobs results in table body -->
          <tbody>
          <tr *ngFor="let keyViewName of jobs | keyvalue">
            <!--job name (keyViewName.key)-->
            <td> {{ keyViewName.key }}</td>
            <!--job results for this keyViewName (for each env)-->
            <td *ngFor="let env2 of envs">
              <div *ngIf="jobs[keyViewName.key][env2]; let job">
                <div (click)="selectJobInfo(job); refreshSelectedJobStatistics()">
                  <i [ngStyle]="{'color': job.color === 'blue' ? 'green' :
                                                    job.color === 'red' ? 'red' :
                                                    'grey'}"
                     class="fa fa-fw fa-star">
                  </i>
                </div>
              </div>
            </td>
          </tr>
          </tbody>

        </table>
      </div>


      <div *ngIf="selectedJob">

        <!-- details du Job (selectionné depuis la matrice (etoiles rouge/vertes) -->
        <div class="row">


          <div class="col col-xs-12 col-sm-12 col-lg-6 col-xl-6">

            <!-- job infos (last build status, description etc...) -->
            <div>
              Folder Name : {{ selectedJob.folderName }} <br>
              Jenkins URL : <a href="{{ selectedJob.url }}"> {{ selectedJob.url }} </a> <br>
              Latest build Date : {{ selectedJob.lastBuild.timestamp | date }} <br>
              Latest build Duration : {{ selectedJob.lastBuild.duration | date: 'HH:mm:ss': 'UTC' }} <br>
            </div>

            <!-- selected build infos (build is selected from canvas #jobResultsStatistics -->
            <div *ngIf="selectedBuild">


              <h2>Details for build #{{ selectedBuild.id }}</h2>
              <h5>
                <i class="fa fa-clock-o"></i> built on {{ selectedBuild.timestamp | date }}
                <span [ngClass]="selectedBuild.result === 'SUCCESS' ? 'badge badge-success' :
                                     'badge badge-danger'">
                                {{ selectedBuild.result }}
                              </span>
              </h5>
              <h6>
                <i class="fa fa-clock-o"></i>
                duration {{ selectedBuild.duration | date: 'HH:mm:ss': 'UTC' }}
              </h6>
              <div class="text-white">{{ selectedBuild.description }}</div>
              <h6><a href="{{ selectedBuild.url }}"> <i class="fa fa-link"></i> View on Jenkins </a></h6>
            </div>


          </div>

          <!-- job builds canvas (errors/successes)-->
          <div class="col col-xs-12 col-sm-12 col-lg-6  col-xl-6">

            <canvas id="jobResultsStatistics" baseChart
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [chartType]="barChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">

            </canvas>

          </div>


        </div>
      </div>

      <div class="row">
        <div class="col col-12">


          <div *ngIf="selectedBuild && currentBuildErrors.length">
            <ul class="timeline">
              <li *ngFor="let testError of currentBuildErrors; let testErrorIndex = index"
                  [attr.data-index]="testErrorIndex"
                  [ngClass]="testError.status === 'FAILED' ? 'timeline' :
                                   testError.status === 'SKIPPED' ? 'timeline-inverted' :
                                   'timeline'
                                  ">
                <div [ngClass]="testError.status === 'FAILED' ? 'timeline-badge danger' :
                                      testError.status === 'REGRESSION' ? 'timeline-badge warning' :
                                      testError.status === 'SKIPPED' ? 'timeline-badge info' :
                                      'timeline-badge'
                                      ">
                  <i [ngClass]="testError.status === 'FAILED' ? 'fa fa-ban' :
                                      testError.status === 'REGRESSION' ? 'fa fa-refresh' :
                                      testError.status === 'SKIPPED' ? 'fa fa-forward' :
                                      'timeline-badge'
                                      "></i>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">

                    <div class="row">

                      <div class="col col-11">
                        <h4 class="timeline-title">
                          {{testError.name}}
                        </h4>
                        <h5>
                                <span [ngClass]="testError.status === 'FAILED' ? 'badge badge-danger' :
                                      testError.status === 'REGRESSION' ? 'badge badge-warning' :
                                      testError.status === 'SKIPPED' ? 'badge badge-info' :
                                      'badge'">
                                  {{ testError.status }}
                                </span>
                          <i class="fa fa-clock-o"></i> {{ testError.duration | date: 'HH:mm:ss': 'UTC' }}
                        </h5>
                      </div>

                      <div class="col col-1 text-center">
                        <h1><span class="badge">{{ testErrorIndex }}</span></h1>
                      </div>

                    </div>

                  </div>

                  <div class="timeline-body">
                    <p>{{testError.errorStackTrace}}</p>
                  </div>
                </div>
              </li>
            </ul>

          </div>
        </div>

      </div>


    </div>
  </div>
</div>



