<div [@routerTransition]>

  <div class="card mb-3">
    <div class="row">
      <div class="col col-xl-10 col-lg-10">
        <button class="btn btn-info" [routerLink]="['/metrics']" [routerLinkActive]="['router-link-active']">
          <i class="fa fa-fw fa-folder"></i>
          root
        </button>
        <button class="btn btn-info" *ngIf="pathLevel1"
                [routerLink]="['/metrics', pathLevel1]"
                [routerLinkActive]="['router-link-active']">
          <i class="fa fa-fw fa-folder"></i>
          {{ pathLevel1 }}
        </button>
        <button class="btn btn-info" *ngIf="pathLevel2"
                [routerLink]="['/metrics', pathLevel1, pathLevel2]"
                [routerLinkActive]="['router-link-active']">
          <i class="fa fa-fw fa-folder"></i>
          {{ pathLevel2 }}
        </button>
        <button class="btn btn-info" *ngIf="pathLevel3"
                [routerLink]="['/metrics', pathLevel1, pathLevel2, pathLevel3]"
                [routerLinkActive]="['router-link-active']">
          <i class="fa fa-fw fa-folder"></i>
          {{ pathLevel3 }}
        </button>
      </div>

      <div class="col col-xl-2 col-lg-2">
        <button type="button" class="btn btn-primary" (click)="refreshFolder(pathFullLevels)">Refresh</button>
      </div>

    </div>
  </div>

  <div class="row" *ngIf="subFolders.length">
    <div class="col col-xl-12 col-lg-12">
      <div class="breadcrumb">

        <span *ngIf="!pathLevel1 && !pathLevel2 && !pathLevel3">
          <button class="btn btn-info" *ngFor="let sub_folder of subFolders"
                  [routerLink]="['/metrics', sub_folder]"
                  [routerLinkActive]="['router-link-active']">
            <i class="fa fa-fw fa-folder"></i>
            {{ sub_folder }}
          </button>
        </span>

        <span *ngIf="pathLevel1 && !pathLevel2 && !pathLevel3">
          <button class="btn btn-info" *ngFor="let sub_folder of subFolders"
                  [routerLink]="['/metrics', pathLevel1, sub_folder]"
                  [routerLinkActive]="['router-link-active']">
            <i class="fa fa-fw fa-folder"></i>
            {{ sub_folder }}
          </button>
        </span>

        <span *ngIf="pathLevel2 && !pathLevel3">
          <button class="btn btn-info" *ngFor="let sub_folder of subFolders"
                  [routerLink]="['/metrics', pathLevel1, pathLevel2, sub_folder]"
                  [routerLinkActive]="['router-link-active']">
            <i class="fa fa-fw fa-folder"></i>
            {{ sub_folder }}
          </button>
        </span>

        <span *ngIf="pathLevel3">
          <button class="btn btn-info" *ngFor="let sub_folder of subFolders"
                  [routerLink]="['/metrics', pathLevel1, pathLevel2, pathLevel3, sub_folder]"
                  [routerLinkActive]="['router-link-active']">
            <i class="fa fa-fw fa-folder"></i>
            {{ sub_folder }}
          </button>
        </span>
      </div>

    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">

    </div>
    <div class="panel-body">
      <!-- Table -->
      <table class="table table-striped">

        <!-- envs in header -->
        <thead>
        <tr>
          <th style="width: 20%">Job Name</th>
          <th *ngFor="let env of envs">{{env}}</th>
        </tr>
        </thead>

        <!-- jobs results in table body -->
        <tbody>
        <tr *ngFor="let keyViewName of jobs | keyvalue">
          <!--job name (keyViewName.key)-->
          <td> {{ keyViewName.key }}</td>
          <!--job results for this keyViewName (for each env)-->
          <td *ngFor="let env2 of envs">
            <div *ngIf="jobs[keyViewName.key][env2]; let job">
                    <div (click)="selectJobInfo(job)">
                      <i [ngStyle]="{'color': job.color === 'blue' ? 'green' :
                                                  job.color === 'red' ? 'red' :
                                                  'grey'}"
                         class="fa fa-fw fa-star">
                        </i>
                    </div>
            </div>
          </td>
        </tr>
        </tbody>

      </table>


      <div *ngIf="selectedJob">
        <div class="card">
          <div class="card-header">
           <h1>{{ selectedJob.name }}</h1>
          </div>
          <div class="card-body">
            Folder Name : {{ selectedJob.folderName }} <br>
            Jenkins URL : <a href="{{ selectedJob.url }}"> {{ selectedJob.url }} </a> <br>
            Latest build Date : {{ selectedJob.lastBuild.timestamp | date }} <br>
            Latest build Duration : {{ selectedJob.lastBuild.duration | date: 'HH:mm:ss': 'UTC' }} <br>
            Latest 5 builds : <br>

            <!--        <ngb-accordion #acc="ngbAccordion" activeIds="">-->

            <div *ngFor="let build of getLastBuilds(selectedJob)">

              <button type="button" class="btn btn-primary"
                      (click)="getBuildErrorTests(selectedJob.fullName, build.id)"> Build n° {{build.id}}
              </button>
              <div *ngIf="buildErrors[selectedJob.fullName] && buildErrors[selectedJob.fullName][build.id] && buildErrors[selectedJob.fullName][build.id].length !== 0">


                <table class="table table-striped table-hover">
                  <thead>
                  <tr>
                    <th scope="col" sortable="status" (sort)="onSort($event)" style="width: 8%">Status</th>
                    <th scope="col" sortable="name" (sort)="onSort($event)" style="width: 27%">Name</th>
                    <th scope="col" sortable="details" (sort)="onSort($event)" style="width: 65%">Details</th>
                  </tr>
                  </thead>

                  <tbody>
                  <tr *ngFor="let testError of buildErrors[selectedJob.fullName][build.id]">
                    <td> {{testError.status}} </td>
                    <td> {{testError.name}} </td>
                    <td> {{testError.errorStackTrace }} </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

