<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>

<mdb-card cascade="true" narrower="true">
  <!--Card image-->
  <div class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">

    <div>
      <button type="button"   size="sm" class="rounded-circle">
        <span class="glyphicon glyphicon-th"></span>
      </button>
      <button type="button"  size="sm" class="rounded-circle">
        <span class="glyphicon glyphicon-search"></span>
      </button>
    </div>

    <a href="" class="white-text mx-3"> Tests table </a>


    <div>
      <button type="button" size="sm" class="rounded-circle">
        <span class="glyphicon glyphicon-pencil"></span>
      </button>
      <button type="button" size="sm" class="rounded-circle">
        <span class="glyphicon glyphicon-refresh"></span>
      </button>
      <button type="button" size="sm" class="rounded-circle">
        <span class="glyphicon glyphicon-cloud-download"></span>
      </button>

    </div>

  </div>
  <!--/Card image-->

  <div class="px-4">

    <div class="table-wrapper">
      <!--Table-->
      <table class="mb-0" mdbTable hover="true">

        <!--Table head-->
        <thead>
        <tr>
          <th>
            <mdb-checkbox></mdb-checkbox>
          </th>
          <th class="th-lg">
            <a (click)="sortBy('name')">Job Name
              <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
            </a>
          </th>
          <th class="th-lg">
            <a (click)="sortBy('firstB')">First Build
              <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
            </a>
          </th>
          <th class="th-lg">
            <a (click)="sortBy('lastB')">Last Build
              <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
            </a>
          </th>
          <th class="th-lg">
            <a (click)="sortBy('colorSt')">Color Status
              <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
            </a>
          </th>
          <th class="th-lg">
            <a (click)="sortBy('result')">Result
              <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
            </a>
          </th>
          <th class="th-lg">
            <a (click)="sortBy('views')">Views
              <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
            </a>
          </th>
        </tr>
        </thead>
        <!--Table head-->

        <!--Table body-->
        <tbody>
        <tr *ngFor="let row of tableData;let i = index">
          <th scope="row">
            <mdb-checkbox></mdb-checkbox>
          </th>
          <td>{{row.name}}</td>
          <td>{{row.firstBuild}}</td>
          <td>{{row.lastBuild}}</td>
          <td>{{row.color}}</td>
          <td>{{row.env}}</td>
          <td>{{row.folderName}}</td>
        </tr>
        </tbody>
        <!--Table body-->
      </table>
      <!--Table-->
    </div>


  </div>
</mdb-card>

</body>
</html>
